.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns>button {
    margin-left: 5px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 10px;
    font-size: 18px;
    color: #888;
}
.homeimg{
    margin-bottom: 50px;
}