.result-container {
  display:flex;
}

.result-container div {
  flex: 1;
}
.spnormal{
  color:white;
}
.splow{
  color:lightblue;
}
.spmoderate{
  color:lime;
}
.sphigh{
  color:rgb(190, 93, 93);
}
.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.horizontal > div {
  margin-right: 10px;
  white-space: nowrap;
}
